.modal-video-wrapper {
 .modal-content {
     position: relative;
     .video-close {
         position: absolute;
         top: -47px;
         right: 0;
         color: white;
         font-size: 28px;
         background-color: transparent;
     }
     iframe {
         width: 100%;
         height: 480px !important;
     }
 }
}