body {
  font-family: "Cairo", sans-serif;
  color: black;
  font-size: 14px;
  scroll-behavior: smooth;
  direction: rtl;
}
// All Rest
* {
  @include all-reset;
}
// a Reset
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
